<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizAssayCurveMapper">
    
    <resultMap type="BizAssayCurve" id="BizAssayCurveResult">
        <result property="curveId"    column="curve_id"    />
        <result property="reportId"    column="report_id"    />
        <result property="curveTime"    column="curve_time"    />
        <result property="tnWave1"    column="tn_wave1"    />
        <result property="tnWave2"    column="tn_wave2"    />
        <result property="tnCurveK"    column="tn_curve_k"    />
        <result property="tnCurveB"    column="tn_curve_b"    />
        <result property="tpWave1"    column="tp_wave1"    />
        <result property="tpWave2"    column="tp_wave2"    />
        <result property="tpCurveK"    column="tp_curve_k"    />
        <result property="tpCurveB"    column="tp_curve_b"    />
        <result property="nhWave1"    column="nh_wave1"    />
        <result property="nhWave2"    column="nh_wave2"    />
        <result property="nhCurveK"    column="nh_curve_k"    />
        <result property="nhCurveB"    column="nh_curve_b"    />
        <result property="incodWave1"    column="incod_wave1"    />
        <result property="incodWave2"    column="incod_wave2"    />
        <result property="incodCurveK"    column="incod_curve_k"    />
        <result property="incodCurveB"    column="incod_curve_b"    />
        <result property="outcodWave1"    column="outcod_wave1"    />
        <result property="outcodWave2"    column="outcod_wave2"    />
        <result property="outcodCurveK"    column="outcod_curve_k"    />
        <result property="outcodCurveB"    column="outcod_curve_b"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>
	
	<sql id="selectBizAssayCurveVo">
        select curve_id, report_id, curve_time, tn_wave1, tn_wave2, tn_curve_k, tn_curve_b, tp_wave1, tp_wave2, tp_curve_k, tp_curve_b, nh_wave1, nh_wave2, nh_curve_k, nh_curve_b, incod_wave1, incod_wave2, incod_curve_k, incod_curve_b, outcod_wave1, outcod_wave2, outcod_curve_k, outcod_curve_b, create_time, create_by, update_time, update_by from biz_assay_curve
    </sql>
	
    <select id="selectBizAssayCurveList" parameterType="BizAssayCurve" resultMap="BizAssayCurveResult">
        <include refid="selectBizAssayCurveVo"/>
        <where>
            <if test="curveId != null "> and curve_id = #{curveId}</if>
            <if test="reportId != null  and reportId != '' "> and report_id = #{reportId}</if>
         </where>
    </select>
    
    <select id="selectBizAssayCurveById" parameterType="Long" resultMap="BizAssayCurveResult">
        <include refid="selectBizAssayCurveVo"/>
        where curve_id = #{resultCurve}
    </select>

    <select id="selectBizAssayCurveByNo" parameterType="String" resultMap="BizAssayCurveResult">
    <include refid="selectBizAssayCurveVo"/>
    where report_id = #{orderno}
</select>
        
    <insert id="insertBizAssayCurve" parameterType="BizAssayCurve" useGeneratedKeys="true" keyProperty="curveId">
        insert into biz_assay_curve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportId != null  and reportId != ''  ">report_id,</if>
            <if test="curveTime != null  ">curve_time,</if>
            <if test="tnWave1 != null  ">tn_wave1,</if>
            <if test="tnWave2 != null  ">tn_wave2,</if>
            <if test="tnCurveK != null  ">tn_curve_k,</if>
            <if test="tnCurveB != null  ">tn_curve_b,</if>
            <if test="tpWave1 != null  ">tp_wave1,</if>
            <if test="tpWave2 != null  ">tp_wave2,</if>
            <if test="tpCurveK != null  ">tp_curve_k,</if>
            <if test="tpCurveB != null  ">tp_curve_b,</if>
            <if test="nhWave1 != null  ">nh_wave1,</if>
            <if test="nhWave2 != null  ">nh_wave2,</if>
            <if test="nhCurveK != null  ">nh_curve_k,</if>
            <if test="nhCurveB != null  ">nh_curve_b,</if>
            <if test="incodWave1 != null  ">incod_wave1,</if>
            <if test="incodWave2 != null  ">incod_wave2,</if>
            <if test="incodCurveK != null  ">incod_curve_k,</if>
            <if test="incodCurveB != null  ">incod_curve_b,</if>
            <if test="outcodWave1 != null  ">outcod_wave1,</if>
            <if test="outcodWave2 != null  ">outcod_wave2,</if>
            <if test="outcodCurveK != null  ">outcod_curve_k,</if>
            <if test="outcodCurveB != null  ">outcod_curve_b,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportId != null  and reportId != ''  ">#{reportId},</if>
            <if test="curveTime != null  ">#{curveTime},</if>
            <if test="tnWave1 != null  ">#{tnWave1},</if>
            <if test="tnWave2 != null  ">#{tnWave2},</if>
            <if test="tnCurveK != null  ">#{tnCurveK},</if>
            <if test="tnCurveB != null  ">#{tnCurveB},</if>
            <if test="tpWave1 != null  ">#{tpWave1},</if>
            <if test="tpWave2 != null  ">#{tpWave2},</if>
            <if test="tpCurveK != null  ">#{tpCurveK},</if>
            <if test="tpCurveB != null  ">#{tpCurveB},</if>
            <if test="nhWave1 != null  ">#{nhWave1},</if>
            <if test="nhWave2 != null  ">#{nhWave2},</if>
            <if test="nhCurveK != null  ">#{nhCurveK},</if>
            <if test="nhCurveB != null  ">#{nhCurveB},</if>
            <if test="incodWave1 != null  ">#{incodWave1},</if>
            <if test="incodWave2 != null  ">#{incodWave2},</if>
            <if test="incodCurveK != null  ">#{incodCurveK},</if>
            <if test="incodCurveB != null  ">#{incodCurveB},</if>
            <if test="outcodWave1 != null  ">#{outcodWave1},</if>
            <if test="outcodWave2 != null  ">#{outcodWave2},</if>
            <if test="outcodCurveK != null  ">#{outcodCurveK},</if>
            <if test="outcodCurveB != null  ">#{outcodCurveB},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            getdate()
        </trim>
    </insert>
	 
    <update id="updateBizAssayCurve" parameterType="BizAssayCurve">
        update biz_assay_curve
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportId != null  and reportId != ''  ">report_id = #{reportId},</if>
            <if test="curveTime != null  ">curve_time = #{curveTime},</if>
            <if test="tnWave1 != null  ">tn_wave1 = #{tnWave1},</if>
            <if test="tnWave2 != null  ">tn_wave2 = #{tnWave2},</if>
            <if test="tnCurveK != null  ">tn_curve_k = #{tnCurveK},</if>
            <if test="tnCurveB != null  ">tn_curve_b = #{tnCurveB},</if>
            <if test="tpWave1 != null  ">tp_wave1 = #{tpWave1},</if>
            <if test="tpWave2 != null  ">tp_wave2 = #{tpWave2},</if>
            <if test="tpCurveK != null  ">tp_curve_k = #{tpCurveK},</if>
            <if test="tpCurveB != null  ">tp_curve_b = #{tpCurveB},</if>
            <if test="nhWave1 != null  ">nh_wave1 = #{nhWave1},</if>
            <if test="nhWave2 != null  ">nh_wave2 = #{nhWave2},</if>
            <if test="nhCurveK != null  ">nh_curve_k = #{nhCurveK},</if>
            <if test="nhCurveB != null  ">nh_curve_b = #{nhCurveB},</if>
            <if test="incodWave1 != null  ">incod_wave1 = #{incodWave1},</if>
            <if test="incodWave2 != null  ">incod_wave2 = #{incodWave2},</if>
            <if test="incodCurveK != null  ">incod_curve_k = #{incodCurveK},</if>
            <if test="incodCurveB != null  ">incod_curve_b = #{incodCurveB},</if>
            <if test="outcodWave1 != null  ">outcod_wave1 = #{outcodWave1},</if>
            <if test="outcodWave2 != null  ">outcod_wave2 = #{outcodWave2},</if>
            <if test="outcodCurveK != null  ">outcod_curve_k = #{outcodCurveK},</if>
            <if test="outcodCurveB != null  ">outcod_curve_b = #{outcodCurveB},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = getdate()
        </trim>
        where curve_id = #{curveId}
    </update>

	<delete id="deleteBizAssayCurveById" parameterType="Long">
        delete from biz_assay_curve where curve_id = #{curveId}
    </delete>
	
    <delete id="deleteBizAssayCurveByIds" parameterType="String">
        delete from biz_assay_curve where curve_id in 
        <foreach item="curveId" collection="array" open="(" separator="," close=")">
            #{curveId}
        </foreach>
    </delete>
    
</mapper>