<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增化验范围')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bizScope-add">
			<input id="scopeWorks"   name="scopeWorks"    type="hidden" th:value="${worksId}"/>
			<div class="form-group">	
				<label class="col-sm-3 control-label">化验范围编号：</label>
				<div class="col-sm-8">
					<input id="scopeNo" name="scopeNo" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水COD最小值：</label>
				<div class="col-sm-8">
					<input id="inCodMin" name="inCodMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水COD最大值：</label>
				<div class="col-sm-8">
					<input id="inCodMax" name="inCodMax" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水总磷（TP）最小值：</label>
				<div class="col-sm-8">
					<input id="inTpMin" name="inTpMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水总磷（TP）最大值：</label>
				<div class="col-sm-8">
					<input id="inTpMax" name="inTpMax" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水总氮（TN）最小值：</label>
				<div class="col-sm-8">
					<input id="inTnMin" name="inTnMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水氨氮（NH3）最小值：</label>
				<div class="col-sm-8">
					<input id="inNh3Min" name="inNh3Min" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水氨氮（NH3）最大值：</label>
				<div class="col-sm-8">
					<input id="inNh3Max" name="inNh3Max" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入水总氮（TN）最大值：</label>
				<div class="col-sm-8">
					<input id="inTnMax" name="inTnMax" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水COD最小值：</label>
				<div class="col-sm-8">
					<input id="outCodMin" name="outCodMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水COD最大值：</label>
				<div class="col-sm-8">
					<input id="outCodMax" name="outCodMax" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水总磷（TP）最小值：</label>
				<div class="col-sm-8">
					<input id="outTpMin" name="outTpMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水总磷（TP）最大值：</label>
				<div class="col-sm-8">
					<input id="outTpMax" name="outTpMax" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水总氮（TN）最小值：</label>
				<div class="col-sm-8">
					<input id="outTnMin" name="outTnMin" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水氨氮（NH3）最小值：</label>
				<div class="col-sm-8">
					<input id="outNh3Min" name="outNh3Min" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水氨氮（NH3）最大值：</label>
				<div class="col-sm-8">
					<input id="outNh3Max" name="outNh3Max" class="form-control required" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出水总氮（TN）最大值：</label>
				<div class="col-sm-8">
					<input id="outTnMax" name="outTnMax" class="form-control required" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/bizWaterWork"
		$("#form-bizScope-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/addScope", $('#form-bizScope-add').serialize());
	        }
	    }
	</script>
</body>
</html>
